In [1]:
from pykg2tbl import DefaultSparqlBuilder, KGSource, QueryResult
from pathlib import Path
from pandas import DataFrame
import os


# SPARQL EndPoint to use - wrapped as Knowledge-Graph 'source'
GDB_BASE:str = os.getenv("GDB_BASE", "http://localhost:7200/")
GDB_REPO: str = os.getenv("GDB_REPO", "lwua23")
GDB_ENDPOINT: str = f"{GDB_BASE}repositories/{GDB_REPO}"
GDB: KGSource = KGSource.build(GDB_ENDPOINT)

TEMPLATES_FOLDER = str(Path().absolute() / "queries")
GENERATOR = DefaultSparqlBuilder(templates_folder=TEMPLATES_FOLDER)


def generate_sparql(name: str, **vars) -> str: 
    """ Simply build the sparql by using the named query and applying the vars
    """
    return GENERATOR.build_syntax(name, **vars)


def execute_to_df(name: str, **vars) -> DataFrame:
    """ Builds the sparql and executes, returning the result as a dataframe.
    """
    sparql = generate_sparql(name, **vars)
    result: QueryResult = GDB.query(sparql=sparql)
    return result.to_dataframe()

# basic entity listing

## execute_to_df("project.sparql")

In [2]:
execute_to_df("person.sparql")

                                  person                   name
0  https://orcid.org/0000-0003-0663-5907  Laurian van Maldeghem
1  https://orcid.org/0000-0002-9648-6484           Marc Portier

In [6]:
findPerson=dict(type="http://schema.org/Person")
findProject=dict(type="http://schema.org/Project")
execute_to_df("instances-of-type.sparql", **findPerson)

                                instance                  label
0  https://orcid.org/0000-0003-0663-5907  Laurian van Maldeghem
1  https://orcid.org/0000-0002-9648-6484           Marc Portier

In [7]:
execute_to_df("organization.sparql")

                                  project      name
0  https://edmo.seadatanet.org/report/422  VLIZ vzw