In [1]:
from connec_functions import execute_to_df, generate_sparql

os.getenv('GDB_BASE')='http://graphdb:7200/'
GDB_BASE='http://graphdb:7200/'
GDB_ENDPOINT='http://graphdb:7200/repositories/kgap'

# basic entity listing

## execute_to_df("project.sparql")

In [2]:
execute_to_df("person.sparql")

                                              person                   name
0              https://orcid.org/0000-0002-9648-6484           Marc Portier
1              https://orcid.org/0000-0003-0663-5907  Laurian van Maldeghem
2      genid-2072cdb6b3d5487d80142e4e44b064ab7343-b2                    NaN
3      genid-2072cdb6b3d5487d80142e4e44b064ab7343-b1                    NaN
4      genid-2072cdb6b3d5487d80142e4e44b064ab7350-b0                    NaN
...                                              ...                    ...
15369  genid-ddcdbe7c14694e3b89899f62b743e0183901-b3                    NaN
15370  genid-ddcdbe7c14694e3b89899f62b743e0183901-b1                    NaN
15371  genid-ddcdbe7c14694e3b89899f62b743e0183915-b4                    NaN
15372  genid-ddcdbe7c14694e3b89899f62b743e0183915-b6                    NaN
15373  genid-ddcdbe7c14694e3b89899f62b743e0183915-b2                    NaN

[15374 rows x 2 columns]

In [3]:
findPerson=dict(type="http://schema.org/Person")
findProject=dict(type="http://schema.org/Project")
execute_to_df("instances-of-type.sparql", **findPerson)

                                               instance            label
0     http://lifewatch-user-analysis-2023/user/59848...  «no name found»
1     http://lifewatch-user-analysis-2023/user/ef667...  «no name found»
2     http://lifewatch-user-analysis-2023/user/2715d...  «no name found»
3     http://lifewatch-user-analysis-2023/user/2ac53...  «no name found»
4     http://lifewatch-user-analysis-2023/user/c11b7...  «no name found»
...                                                 ...              ...
3119  http://lifewatch-user-analysis-2023/user/6f02d...  «no name found»
3120  http://lifewatch-user-analysis-2023/user/fc7da...  «no name found»
3121  http://lifewatch-user-analysis-2023/user/85190...  «no name found»
3122  http://lifewatch-user-analysis-2023/user/e961e...  «no name found»
3123  http://lifewatch-user-analysis-2023/user/2fcd4...  «no name found»

[3124 rows x 2 columns]

In [4]:
execute_to_df("organization.sparql")

KeyboardInterrupt: