In [2]:
from connec_functions import execute_to_df, generate_sparql
import pandas as pd

(Because of different analysis method, using the linked data, results can differ a bit.  
Linked data makes it faster/easier to analyse a larger amount of data)

### Publications in the LifeWatch special collections:

In [3]:
spcol_pubs = execute_to_df("0_spcol_pubs.sparql")
spcol_pubs

,collection,title,publication
0,http://dev.marineinfo.org/id/collection/919,EurOBIS ackn,http://dev.marineinfo.org/id/publication/252061
1,http://dev.marineinfo.org/id/collection/919,European Oceanographic Biogeographic Informati...,http://dev.marineinfo.org/id/publication/252061
2,http://dev.marineinfo.org/id/collection/945,EUROBIS ackn - indirect,http://dev.marineinfo.org/id/publication/252061
3,http://dev.marineinfo.org/id/collection/945,EUROBIS ackn - indirect use,http://dev.marineinfo.org/id/publication/252061
4,http://dev.marineinfo.org/id/collection/941,LifeWatch Species Information Backbone,http://dev.marineinfo.org/id/publication/252061
...,...,...,...
17075,http://dev.marineinfo.org/id/collection/941,LifeWatch Species Information Backbone,http://dev.marineinfo.org/id/publication/301079
17076,http://dev.marineinfo.org/id/collection/915,WoRMS ackn,http://dev.marineinfo.org/id/publication/301079
17077,http://dev.marineinfo.org/id/collection/915,World Register of Marine Species (WoRMS) ackno...,http://dev.marineinfo.org/id/publication/301079
17078,http://dev.marineinfo.org/id/collection/947,WoRMS ackn - direct,http://dev.marineinfo.org/id/publication/301079
17079,http://dev.marineinfo.org/id/collection/947,WoRMS ackn - direct reference,http://dev.marineinfo.org/id/publication/301079

In [4]:
#LifeWatch special collections with number of publications
lw_spcols = spcol_pubs.groupby('collection').nunique()
lw_spcols

                                             title  publication
collection
http://dev.marineinfo.org/id/collection/793      2          243
http://dev.marineinfo.org/id/collection/896      1          315
http://dev.marineinfo.org/id/collection/897      1           12
http://dev.marineinfo.org/id/collection/915      2         2511
http://dev.marineinfo.org/id/collection/919      2          332
http://dev.marineinfo.org/id/collection/923      2          915
http://dev.marineinfo.org/id/collection/941      1         2996
http://dev.marineinfo.org/id/collection/942      2           86
http://dev.marineinfo.org/id/collection/944      2           26
http://dev.marineinfo.org/id/collection/945      2          238
http://dev.marineinfo.org/id/collection/947      2         2508
http://dev.marineinfo.org/id/collection/986      1           23
http://dev.marineinfo.org/id/collection/987      1           16

In [5]:
# Number of LifeWatch publications - many occur in multiple collections 
lw_pubs = spcol_pubs.groupby('publication').nunique()

print(f'There are {lw_pubs.shape[0]} publications in the LW special collections.')
lw_pubs

There are 3811 publications in the LW special collections.

                                                 collection  title
publication
http://dev.marineinfo.org/id/publication/100295           3      5
http://dev.marineinfo.org/id/publication/100297           5      9
http://dev.marineinfo.org/id/publication/100343           3      5
http://dev.marineinfo.org/id/publication/100354           3      5
http://dev.marineinfo.org/id/publication/100534           3      5
...                                                     ...    ...
http://dev.marineinfo.org/id/publication/97370            2      3
http://dev.marineinfo.org/id/publication/97418            5      9
http://dev.marineinfo.org/id/publication/98075            3      5
http://dev.marineinfo.org/id/publication/99962            3      5
http://dev.marineinfo.org/id/publication/99971            3      5

[3811 rows x 2 columns]